@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Tiptap Editor Styling */
.tiptap {
    /* Base text color */
    color: #374151; /* text-gray-700 */
}

/* Dark Mode: Base text color */
.dark .tiptap {
    color: #d1d5db; /* dark:text-gray-300 */
}

/* Spacing between blocks (paragraphs, headings, lists) */
.tiptap > * + * {
  margin-top: 0.75em;
}

/* Paragraphs */
.tiptap p {
  line-height: 1.65;
}

/* Headings */
.tiptap h1, .tiptap h2 {
  line-height: 1.2;
}

.tiptap h1 {
  font-size: 2em;
  font-weight: 700;
}
.dark .tiptap h1 {
  color: #f9fafb; /* dark:text-gray-50 */
}

.tiptap h2 {
  font-size: 1.5em;
  font-weight: 600;
}
.dark .tiptap h2 {
  color: #f9fafb; /* dark:text-gray-50 */
}

/* Lists */
.tiptap ul, .tiptap ol {
  padding: 0 1.75rem;
}
.tiptap ul {
  list-style-type: disc;
}
.tiptap ol {
  list-style-type: decimal;
}

/* Marks (Bold, Italic, etc.) */
.tiptap strong {
  font-weight: 700;
}
.dark .tiptap strong {
    color: #f9fafb; /* dark:text-gray-50 */
}

.tiptap em {
  font-style: italic;
}

.tiptap s {
  text-decoration: line-through;
}